body{
		background-image: url(https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg);
		background-size: cover;


	}
	h1 {
		color: white;
		font-size: 250%;
		font-family: verdana;
		margin-top: 400px;
		text-align: center;

	}
	